<div class="bigdiv">
    <header>
        <nav class="navbar bg-dark border-bottom border-body d-flex justify-content-evenly" data-bs-theme="dark">
            <a class="btn btn-primary" href="">Home</a>
            <a class="btn btn-primary" href="#cv">My CV</a>
            <a class="btn btn-primary" href="https://github.com/GutoRech1990" target="_blank">My GitHub</a>
        </nav>

        <div style="flex-basis: 50%; margin-top: 130px;">
            <h2 style="padding-top: 25px;">HEY</h2>
            <h1 style="background-color: blue; color: white;">I AM GUTO RECH</h1>
            <H2>A front-end developer student!</H2>
        </div>
        <img src="assets/photo.png" alt="">
    </header>

    <div class="welcome">
        <h3>Welcome to my website</h3>
        <p>I'm thrilled to have you here, and I'm excited to share my journey with you. My name is José Augusto Rech, and I'm originally from Luiz Alves, Santa Catarina, Brazil. Born in 1990, I embarked on my academic path at the age of 17, initially pursuing studies in Logistics at the University of Itajaí. However, at the age of 20, I was fortunate to receive a scholarship that led me to switch gears and dive into the captivating world of Accounting at Uniasselvi University.</p>

        <p>For the next decade, I resided in the beautiful city of Blumenau, immersing myself in the intricacies of accounting principles, financial analysis, and business management. These years of learning and professional experience shaped my understanding of the importance of numbers, accuracy, and strategic decision-making within the corporate landscape.</p>

        <p>In 2020, an incredible opportunity presented itself when I was granted Luxembourgish citizenship. This pivotal moment marked the beginning of a new chapter in my life. Fuelled by curiosity and a passion for technological innovation, I decided to pursue my dream of becoming a software developer. The ever-evolving world of technology fascinated me, and I couldn't resist the challenge of mastering programming languages, creating innovative solutions, and contributing to the digital transformation.</p>

        <p>Currently, I'm fully dedicated to expanding my knowledge and honing my skills as a software developer. Through rigorous self-study, hands-on projects, and continuous learning, I am acquiring expertise in various programming languages, software development methodologies, and problem-solving techniques. The dynamic nature of this field inspires me every day, pushing me to embrace new challenges and strive for excellence.</p>

        <p>On this website, I aim to share my experiences, insights, and creations as I navigate this exciting journey in the realm of software development. Whether you're an aspiring developer, a fellow enthusiast, or a potential collaborator, I invite you to join me on this path of continuous growth and discovery.</p>

        <p>Thank you for visiting, and I hope you find inspiration and value in the content I share. If you have any questions or would like to connect, please don't hesitate to reach out. Let's embark on this exciting adventure together!</p>
    </div>

    <div id="cv">
        <div style="text-align: center;">
            <h2>Curriculum Vitae</h2>
            <p>Name: José Augusto Rech</p>
            <p>Nationality: Luxembourgish, Brazilian</p>
            <p>Date of birth: 19 March 1990</p>
            <p>Gender: Male </p>
            <p>Email address: gutorech90@gmail.com</p>
            <p>Address: Bertrange, Luxembourg</p>
        </div>
        <hr>

        <h3>Education and Trainning</h3>

        <ul>
            <li>
                <strong>Training in Front-End Programming</strong> <br>
                Apex Ensino – Programming School [April 2023 – in progress] <br>
                Address: Blumenau (Brazil) <br>
                <a href="https://apexensino.com.br/">https://apexensino.com.br/</a> 
            </li>
            <li>
                <strong>Higher Technology Course in System Analysis and Development </strong><br>
                Uninter International University Centre – Lisbon [ Oct 2022 – in progress ]<br>
                Address: Lisbon (Portugal) <br>
                <a href="https://unintereuropa.com/graduacao-ead/" target="_blank">https://unintereuropa.com/graduacao-ead/</a>
            </li>
            <li>
                <strong>Creating web pages in HTML and CSS</strong><br>
                Luxembourg Life Learning Center [Feb 2023 – Jul 2023]<br>
                Address: Luxembourg (Luxembourg) <br>
                <a href="https://www.csl.lu/fr/lllc/" target="_blank">https://www.csl.lu/fr/lllc/</a>
            </li>
            <li>
                <strong>Computerized accounting: Sage BOB 50</strong><br>
                Luxembourg Life Learning Center [ Oct 2022 – Feb 2023]<br>
                Address: Luxembourg (Luxembourg) <br>
                <a href="https://www.csl.lu/fr/lllc/" target="_blank">https://www.csl.lu/fr/lllc/</a>
            </li>
            <li>
                <strong>General accounting – year-end operations</strong><br>
                Luxembourg Life Learning Center [ Feb 2022 – July 2022]<br>
                Address: Luxembourg (Luxembourg) <br>
                <a href="https://www.csl.lu/fr/lllc/" target="_blank">https://www.csl.lu/fr/lllc/</a>
            </li>
            <li>
                <strong>General accounting – current operations</strong><br>
                Luxembourg Life Learning Center [ Sep 2021 – Jan 2022]<br>
                Address: Luxembourg (Luxembourg) <br>
                <a href="https://www.csl.lu/fr/lllc/" target="_blank">https://www.csl.lu/fr/lllc/</a>
            </li>
            <li>
                <strong>Bachelor in Accounting</strong><br>
                Metropolitan Faculty of Blumenau - UNIASSELVI [ Jan 2010 – Dec 2013 ]<br>
                Address: Blumenau (Brazil) <br>
                <a href="https://portal.uniasselvi.com.br/" target="_blank">https://portal.uniasselvi.com.br/</a>
            </li>
            <li>
                <strong>Systematic retention of federal taxes</strong><br>
                SESCON<br>
                Address: Blumenau (Brazil) <br>
                <a href="https://sesconblumenau.org.br/" target="_blank">https://sesconblumenau.org.br/</a>
            </li>
            <li>
                <strong>Systematic substitution of state taxes</strong><br>
                SESCON<br>
                Address: Blumenau (Brazil) <br>
                <a href="https://sesconblumenau.org.br/" target="_blank">https://sesconblumenau.org.br/</a>
            </li>
            <li>
                <strong>SPED declaration (Digital Tax System in Brazil)</strong><br>
                SESCON<br>
                Address: Blumenau (Brazil) <br>
                <a href="https://sesconblumenau.org.br/" target="_blank">https://sesconblumenau.org.br/</a>
            </li>
            <li>
                <strong>Bachelor in Logistics ( incomplete )</strong><br>
                Itajai Valley University [ Jan 2008 - Nov 2009 ]<br>
                Address: Itajai (Brazil)<br>
                <a href="https://www.univali.br" target="_blank">https://www.univali.br</a>
            </li>
        </ul>
        <hr>

        <h3>Language Skills 🇧🇷🇫🇷🇬🇧</h3>
        <p>Mother tongue: Portuguese <br> Other languages: French: B2, English B2</p>
        <hr>

        <h3>Professional Experience</h3>

        <p>
            <strong>Independent Accountant</strong> <br>
            Locality: Luxembourg<br>
            Country: Luxembourg<br>
            Main activities: Accounting bookkeeping in the BOB 50 system
        </p>

        <p>
            <strong>Senior Tax Analyst</strong> <br>
            Esfera Prime Accounting [ Jan 2017 - Mar 2020 ]<br>
            Locality: Blumenau<br>
            Country: Brazil<br>
            Main activities: Preparation of monthly tax returns, and payment of taxes. Monitoring of municipal, state and federal tax legislation. Customer relationships.
        </p>
        <p>
            <strong>Tax Analyst</strong> <br>
            Fator Accounting [ Aug 2013 – Dec 2016 ] <br>
            Locality: Blumenau <br>
            Country: Brazil<br>
            Main activities: Preparation of monthly taxes, monitoring of municipal, state and federation legislation.
            Sending of taxes and customer service.
        </p>
        <p>
            <strong>Tax Assitent</strong><br>
            J Mainhardt Accounting [ Jun 2011 – Aug 2013 ]<br>
            Locality: Blumenau<br>
            Country: Brazil<br>
            Main activities: Preparation of monthly taxes, monitoring of municipal, state and federation legislation.
        </p>
        <p>
            <strong>Trainee</strong><br>
            Econex Contadores Associados [ Jan 2011 – Jul 2011 ]<br>
            Locality: Santos Country: Brazil<br>
            Main activities: Data entry - Internship.
        </p>



    </div>

    <footer>
        <p>This website was developed by José Augusto Rech</p>
    </footer>
</div>


