<div class="bigdiv">
    <header>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <a class="btn btn-primary" href="">Home</a>
            <a class="btn btn-primary" href="">My education</a>
            <a class="btn btn-primary" href="">More about me</a>
            <a class="btn btn-primary" href="">Contact me</a>
        </nav>
        <div style="flex-basis: 50%; margin-top: 130px;">
            <h2 style="padding-top: 25px;">HEY</h2>
            <h1>I AM GUTO RECH</h1>
            <H2>A front-end developer student!</H2>
        </div>
        <img src="assets/photo.png" alt="">
    </header>

    <div class="welcome">
        <h3>Welcome to my website</h3>
        <p>I'm thrilled to have you here, and I'm excited to share my journey with you. My name is José Augusto Rech, and I'm originally from Luiz Alves, Santa Catarina, Brazil. Born in 1990, I embarked on my academic path at the age of 17, initially pursuing studies in Logistics at the University of Itajaí. However, at the age of 20, I was fortunate to receive a scholarship that led me to switch gears and dive into the captivating world of Accounting at Uniasselvi University.</p>

        <p>For the next decade, I resided in the beautiful city of Blumenau, immersing myself in the intricacies of accounting principles, financial analysis, and business management. These years of learning and professional experience shaped my understanding of the importance of numbers, accuracy, and strategic decision-making within the corporate landscape.</p>

        <p>In 2020, an incredible opportunity presented itself when I was granted Luxembourgish citizenship. This pivotal moment marked the beginning of a new chapter in my life. Fuelled by curiosity and a passion for technological innovation, I decided to pursue my dream of becoming a software developer. The ever-evolving world of technology fascinated me, and I couldn't resist the challenge of mastering programming languages, creating innovative solutions, and contributing to the digital transformation.</p>

        <p>Currently, I'm fully dedicated to expanding my knowledge and honing my skills as a software developer. Through rigorous self-study, hands-on projects, and continuous learning, I am acquiring expertise in various programming languages, software development methodologies, and problem-solving techniques. The dynamic nature of this field inspires me every day, pushing me to embrace new challenges and strive for excellence.</p>

        <p>On this website, I aim to share my experiences, insights, and creations as I navigate this exciting journey in the realm of software development. Whether you're an aspiring developer, a fellow enthusiast, or a potential collaborator, I invite you to join me on this path of continuous growth and discovery.</p>

        <p>Thank you for visiting, and I hope you find inspiration and value in the content I share. If you have any questions or would like to connect, please don't hesitate to reach out. Let's embark on this exciting adventure together!</p>
    </div>
</div>
